<% provide :title, "Seasons"
   provide :breadcrumbs, breadcrumbs([ :index ]) %>
 
<h1>Seasons</h1>

<% Season.all.each do |season| %>
<% cache(season) do %>
<div class="section">
  <div class="season-summary-container">
    <div class="season-summary standard-panel">

      <div class="panel-heading">
        <h2><%= render season %></h2>
      </div>
      
      <div class="panel-body">
        <div class="brief-info image-container">
          <% d11_team_table_stat = season.d11_league.winner %>
          <h3><%= render d11_team_table_stat.d11_team %></h3>
          <p><%= render season.d11_league %> <% if season.finished? %>Champion<% else %>Leader<% end %></p>
          <%= render "d11_teams/club_crest", d11_team: d11_team_table_stat.d11_team %>
          <p>
            <span class="points"><span class="value"><%= d11_team_table_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= d11_team_table_stat.goals_for %></span> goals</span>
          </p>          
        </div>
        
        <div class="brief-info image-container">
          <% team_table_stat = season.premier_league.winner %>
          <h3><%= render team_table_stat.team %></h3>
          <p><%= render season.premier_league %> <% if season.finished? %>Champions<% else %>Leaders<% end %></p>
          <%= render "teams/club_crest", team: team_table_stat.team %>
          <p>
            <span class="points"><span class="value"><%= team_table_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= d11_team_table_stat.goal_difference %></span> gd</span>
          </p>                    
        </div>

        <div class="brief-info image-container">
          <% player_season_stat = season.winner %>
          <h3><%= render player_season_stat.player %> (<%= render player_season_stat.player.season_info(season).team, label: :code %>)</h3>
          <p>Most Valuable Player</p>
          <%= render "players/player_photo", player: player_season_stat.player %>
          <p>
            <span class="points"><span class="value"><%= player_season_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= player_season_stat.goals %></span> goals</span>
          </p>                              
        </div>

        <div class="brief-info">
          <h3>Runners Up</h3>
          <h4>Drömelvan</h4>
          <ul>
            <% season.d11_league.runners_up.each do |d11_team_table_stat| %>
            <li><%= render "d11_teams/club_crest", d11_team: d11_team_table_stat.d11_team, style: :icon %> <%= render d11_team_table_stat.d11_team %> <%= d11_team_table_stat.points %>p</li>
            <% end %>
          </ul>
          
          <h4>Premier League</h4>
          <ul>
            <% season.premier_league.runners_up.each do |team_table_stat| %>
            <li><%= render "teams/club_crest", team: team_table_stat.team, style: :icon %> <%= render team_table_stat.team %> <%= team_table_stat.points %>p</li>
            <% end %>
          </ul>
          
          <h4>Most Valuable Players</h4>
          <ul>
            <% season.runners_up.each do |player_season_stat| %>
            <li><%= render "players/player_photo", player: player_season_stat.player, style: :icon %> <%= render player_season_stat.player %> (<%= render player_season_stat.player.season_info(season).team, label: :code %>) <%= player_season_stat.points %>p</li>
            <% end %>            
          </ul>          
        </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>