<% provide :title, "Seasons"
   provide :breadcrumbs, breadcrumbs([ :index ]) %>
 
<h1>Seasons</h1>

<% Season.all.each do |season| %>
<div class="section">
  <div class="season-summary-container">
    <div class="season-summary standard-panel">

      <div class="panel-heading">
        <h2><%= render season %></h2>
      </div>
      
      <div class="panel-body">
        <div class="brief-info image-container">
          <h3>Eleven Robbie Savages</h3>
          <p><%= render season.d11_league %> Champions</p>
          <%= image_tag '/assets/missing/club-crest-large.png', class: "club-crest" %>
          <p>
            <span class="points"><span class="value">123</span> points</span>
            <span class="goals"><span class="value">32</span> goals</span>
          </p>          
        </div>
        
        <div class="brief-info image-container">
          <h3>West Bromwich Albion</h3>
          <p><%= render season.premier_league %> Champions</p>
          <%= image_tag '/assets/missing/club-crest-large.png', class: "club-crest" %>
          <p>
            <span class="points"><span class="value">123</span> points</span>
            <span class="goals"><span class="value">+32</span> gd</span>
          </p>                    
        </div>

        <div class="brief-info image-container">
          <h3>Robbie Savage (LEI)</h3>
          <p>Most Valuable Player</p>
          <%= image_tag '/assets/missing/player-photo-large.png', class: "player-photo" %>
          <p>
            <span class="points"><span class="value">123</span> points</span>
            <span class="goals"><span class="value">32</span> goals</span>
          </p>                              
        </div>

        <div class="brief-info">
          <h3>Runners Up</h3>
          <h4>Drömelvan</h4>
          <ul>
            <li><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> Ten Robbie Savages 123p</li>
            <li><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> Nine Robbie Savages 123p</li>
          </ul>
          
          <h4>Premier League</h4>
          <ul>
            <li><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> East Bromwich Albion 123p</li>
            <li><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> North Bromwich Albion 123p</li>
          </ul>
          
          <h4>Most Valuable Players</h4>
          <ul>
            <li><%= image_tag '/assets/missing/player-photo-icon.png', class: "player-photo" %> King Savage (LEI) 123p</li>
            <li><%= image_tag '/assets/missing/player-photo-icon.png', class: "player-photo" %> Prince Savage (LEI) 123p</li>
          </ul>          
        </div>
        
      </div>
    </div>
  </div>
</div>
<% end %>
