<% provide :title, "Seasons"
   provide :breadcrumbs, breadcrumbs([ :index ]) %>
 
<h1>Seasons</h1>

<p>Winners and runners up of the current and previous seasons.</p>

<% Season.all.each do |season| %>
<div class="section">
  <% cache(season) do %>
  <div class="season-summary-container">
    <div class="season-summary standard-panel">
      <div class="panel-heading">
        <h2><%= render season %></h2>

        <% if administrator_signed_in? %>
            <%= render 'layouts/context_menu_dropdown', resource: season %>
        <% end %>
      </div>

      <div class="panel-body">
        <div class="d11-winner brief-info image-container">
          <% d11_team_table_stat = season.d11_league.winner %>
          <h3><%= render d11_team_table_stat.d11_team %></h3>
          <p class="d11-league"><%= render season.d11_league %> <% if season.finished? %>Champion<% else %>Leader<% end %></p>
          <%= render "d11_teams/club_crest", d11_team: d11_team_table_stat.d11_team %>
          <p class="stats">
            <span class="points"><span class="value"><%= d11_team_table_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= d11_team_table_stat.goals_for %></span> goals</span>
          </p>          
        </div>
        
        <div class="premier-league-winner brief-info image-container">
          <% team_table_stat = season.premier_league.winner %>
          <h3><%= render team_table_stat.team %></h3>
          <p class="premier-league"><%= render season.premier_league %> <% if season.finished? %>Champions<% else %>Leaders<% end %></p>
          <%= render "teams/club_crest", team: team_table_stat.team %>
          <p class="stats">
            <span class="points"><span class="value"><%= team_table_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= d11_team_table_stat.goal_difference %></span> gd</span>
          </p>                    
        </div>
        
        <div class="most-valuable-player brief-info image-container">
          <% player_season_stat = season.winner %>
          <h3><%= render player_season_stat.player %> (<%= render player_season_stat.player.season_info(season).team, label: :code %>)</h3>
          <p class="most-valuable-player">Most Valuable Player</p>
          <%= render "players/player_photo", player: player_season_stat.player %>
          <p class="stats">
            <span class="points"><span class="value"><%= player_season_stat.points %></span> points</span>
            <span class="goals"><span class="value"><%= player_season_stat.goals %></span> goals</span>
          </p>                              
        </div>
        
        <div class="runners-up brief-info">
          <h3>Runners Up</h3>
          <h4>Drömelvan</h4>
          <ul id="d11-runners-up">
            <% season.d11_league.runners_up.each do |d11_team_table_stat| %>
            <li><%= render "d11_teams/club_crest", d11_team: d11_team_table_stat.d11_team, style: :icon %> <%= render d11_team_table_stat.d11_team %> <%= d11_team_table_stat.points %>p</li>
            <% end %>
          </ul>
          
          <h4>Premier League</h4>
          <ul id="premier-league-runners-up">
            <% season.premier_league.runners_up.each do |team_table_stat| %>
            <li><%= render "teams/club_crest", team: team_table_stat.team, style: :icon %> <%= render team_table_stat.team %> <%= team_table_stat.points %>p</li>
            <% end %>
          </ul>
          
          <h4>Most Valuable Players</h4>
          <ul id="most-valuable-player-runners-up">
            <% season.runners_up.each do |player_season_stat| %>
            <li><%= render "players/player_photo", player: player_season_stat.player, style: :icon %> <%= render player_season_stat.player %> (<%= render player_season_stat.player.season_info(season).team, label: :code %>) <%= player_season_stat.points %>p</li>
            <% end %>            
          </ul>          
        </div>        
      </div>      
    </div>
  </div>
  <% end %>
</div>
<% end %>