<tr>
  <td class="number-column"><%= player_career_stat.ranking %></td>
  <td class="player-column main-column"><%= render player_career_stat.player %></td>  
  <td class="appearances-column"><%= player_career_stat.games_started %>/<%= player_career_stat.games_substitute %></td>
  <td class="minutes-played-column"><%= player_career_stat.minutes_played %></td>  
  <td class="goals-column"><%= player_career_stat.goals %></td>  
  <td class="assists-column"><%= player_career_stat.goal_assists %></td>
  <td class="own-goals-column"><%= player_career_stat.own_goals %></td>  
  <td class="yellow-cards-column"><%= player_career_stat.yellow_cards %></td>  
  <td class="red-cards-column"><%= player_career_stat.red_cards %></td>    
  <td class="mom-column"><%= player_career_stat.man_of_the_match %>/<%= player_career_stat.shared_man_of_the_match %></td>  
  <td class="rating-column"><%= player_career_stat.rating_s %></td>
  <td class="points-column number-column"><%= player_career_stat.points %></td>  
</tr>
