<% provide :title, "#{@premier_league.name} table"
   provide :breadcrumbs, breadcrumbs([ @premier_league.season, @premier_league , "Table", :select_table ]) %> 
  
<h1><%= @premier_league.name %> <%= @premier_league.season.name %></h1>

<h2>League table</h2>

<% @match_day = @premier_league.match_days.current %>
<div class="league-table-filter" data-max-index="<%= @match_day.match_day_number - 1 %>">
  <p id="match-day-link">Standings after <%= render @match_day %>.</p>
  <p id="traverse-links">
    Show standings after <span class="ajax-selector ajax-match-day-selector">
                            <a href="#" <% if @match_day.previous.nil? %>class="disabled"<% end %> id="previous" onclick="traverse(-1);return false;">previous</a>
                            <span id="separator" <% if @match_day.previous.nil? || @match_day.next.nil? %>class="disabled"<% end %>> or </span>
                            <a href="#" <% if @match_day.next.nil? %>class="disabled"<% end %> id="next" onclick="traverse(1);return false;">next</a>
                         </span> match day.
  </p>  
  <p id="match-day-select">
  Show standings after match day
  <%= collection_select :match_day, :id,
        @premier_league.match_days.where('match_day_number <= ?', @match_day.match_day_number), :id, :match_day_number, {}, { onchange: 'selectMatchDay(this.value)'} %>
  </p>
</div>

<%= render 'team_table_stats/datatable' %>
