<% provide :title, "#{@premier_league.name} table"
   provide :breadcrumbs, breadcrumbs([ @premier_league.season, @premier_league , "Table", :select_table ]) %> 
  
<h1>
  <%= @premier_league.name %> <span class="season-name"><%= @premier_league.season.name %> <%= render 'context_menu' %></span>
</h1>

<h2>League table</h2>

<% @match_day = @premier_league.match_days.current %>
<div class="league-table-filter" data-max-index="<%= @match_day.match_day_number - 1 %>">
  <ul class="context-links">
    <li id="match-day-link">Standings after <%= render @match_day, downcase: true %>.</li>
    <li id="traverse-links">
      Show standings after <span class="ajax-selector ajax-match-day-selector">
                              <a href="#" <% if @match_day.previous.nil? %>class="disabled"<% end %> id="previous" onclick="traverse(-1);return false;">previous</a>
                              <span id="separator" <% if @match_day.previous.nil? || @match_day.next.nil? %>class="disabled"<% end %>> or </span>
                              <a href="#" <% if @match_day.next.nil? %>class="disabled"<% end %> id="next" onclick="traverse(1);return false;">next</a>
                           </span> match day.
    </li>  
    <li id="match-day-select">
      Show standings after match day
      <%= collection_select :match_day, :id,
            @premier_league.match_days.where('match_day_number <= ?', @match_day.match_day_number), :id, :match_day_number, {}, { onchange: 'selectMatchDay(this.value)'} %>
    </li>
    <li id="premier-league-select">
      Show table for season
      <%= form_tag public_send("select_table_#{controller_name.tableize}_path"), class: "onchange-submit-form" do %>        
        <%= collection_select controller_name.singularize, :id,
            controller_name.classify.constantize.unique_name_ordered.where({}), :id, :unique_name, {}, { onchange: 'this.form.submit()' } %>
      <% end %>              
    </li>
  </ul>
</div>

<%= render 'team_table_stats/datatable' %>
