<% provide :title, "Search results"
   provide :breadcrumbs, breadcrumbs([ "Search results" ]) %>

<h1>Search Results</h1>

<% if @players.size + @teams.size + @d11_teams.size > 0 %>
  
<p>Players, teams and D11 teams with names matching "<%= @q %>".</p>
  
<% if @players.any? %>
<div class="search-results" id="#players-search-results">
  
  <h2>Players</h2>
  
  <div class="section">
    <% @players.each do |player| %>
      <div class="search-result">
        <%= render 'players/player_photo', style: :small, player: player %>
        <div class="search-info name"><%= render player %></div>
        <div class="search-info position">Midfielder, age <%= player.age %></div>
        <div class="search-info team-name"><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> West Bromwich Albion</div>
        <div class="search-info team-code"><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> WBA</div>
        <div class="search-info d11-team-name"><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> Eleven Robbie Savages</div>
        <div class="search-info d11-team-code"><%= image_tag '/assets/missing/club-crest-icon.png', class: "club-crest" %> ERS</div>
      </div>
    <% end %>
  </div>
  <% if @additional_player_count > 0 %>
  <p class="additional-count">The search found an additional <%= @additional_player_count %> players. Please refine your search term for more relevant results.</p>
  <% end %>
</div>

<% end %>

<% if @teams.any? %>
<div class="search-results" id="#teams-search-results">
  
  <h2>Premier League Teams</h2>
  
  <div class="section">
    <% @teams.each do |team| %>
      <div class="search-result">
        <%= image_tag '/assets/missing/club-crest-small.png', class: "club-crest" %>
        <div class="search-info name"><%= render team %></div>
        <div class="search-info year">Established <%= team.established %></div>
        <div class="search-info name"><%= team.stadium.name %></div>
        <div class="search-info name"><%= team.stadium.city %></div>
      </div>
    <% end %>
  </div>
</div>

<% end %>

<% if @d11_teams.any? %>
<div class="search-results" id="#d11-teams-search-results">
  
  <h2>D11 Teams</h2>
  
  <div class="section">
    <% @d11_teams.each do |d11_team| %>
      <div class="search-result">
        <%= image_tag '/assets/missing/club-crest-small.png', class: "club-crest" %>
        <div class="search-info name"><%= render d11_team %></div>
        <div class="search-info name">Owner: <%= d11_team.owner.name %></div>
        <% if !d11_team.co_owner.nil? %>
        <div class="search-info name">Co owner: <%= d11_team.co_owner.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% end %>

<% else %>
<p>No players, teams or D11 teams with names matching "<%= @q %> were found. Sorry :(</p>
<% end %>
