<% provide :title, "Search results"
   provide :breadcrumbs, breadcrumbs([ :title ]) %>

<h1>Search Results</h1>

<% if @players.size + @teams.size + @d11_teams.size > 0 %>
  
<p>Players, teams and D11 teams with names matching "<%= @q %>".</p>
  
<% if @players.any? %>
<div class="search-results" id="#players-search-results">
  
  <h3>Players</h3>
  
  <div class="section">
    <% @players.each do |player|
       player_season_info = PlayerSeasonInfo.current(player) %>
      <div class="search-result player">
        <%= render 'players/player_photo', style: :small, player: player %>
        <div class="search-info name"><%= render player %></div>
        <div class="search-info position"><%= render player_season_info.position %><% if !player.date_of_birth.nil? %>, age <%= player.age %><% end %></div>
        <div class="search-info team-name"><%= render player_season_info.team %></div>
        <div class="search-info team-code"><%= render player_season_info.team, label: :code %></div>
        <div class="search-info d11-team-name"><%= render player_season_info.d11_team %></div>
        <div class="search-info d11-team-code"><%= render player_season_info.d11_team, label: :code %></div>
      </div>
    <% end %>
  </div>
  <% if @additional_player_count > 0 %>
  <p class="additional-count">The search found an additional <%= @additional_player_count %> players. Please refine your search term for more relevant results.</p>
  <% end %>
</div>

<% end %>

<% if @teams.any? %>
<div class="search-results" id="#teams-search-results">
  
  <h3>Premier League Teams</h3>
  
  <div class="section">
    <% @teams.each do |team| %>
      <div class="search-result team">
        <%= render 'teams/club_crest', style: :small, team: team %>
        <div class="search-info name"><%= render team %></div>
        <div class="search-info established">Established <%= team.established %></div>
        <div class="search-info stadium"><%= team.stadium.name %></div>
        <div class="search-info city"><%= team.stadium.city %></div>
      </div>
    <% end %>
  </div>
</div>

<% end %>

<% if @d11_teams.any? %>
<div class="search-results" id="#d11-teams-search-results">
  
  <h3>D11 Teams</h3>
  
  <div class="section">
    <% @d11_teams.each do |d11_team| %>
      <div class="search-result d11-team">
        <%= render 'd11_teams/club_crest', style: :small, d11_team: d11_team %>
        <div class="search-info name"><%= render d11_team %></div>
        <div class="search-info owner">Owner: <%= d11_team.owner.name %></div>
        <% if !d11_team.co_owner.nil? %>
        <div class="search-info co-owner">Co owner: <%= d11_team.co_owner.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% end %>

<% else %>
<p>No players, teams or D11 teams with names matching "<%= @q %> were found. Sorry :(</p>
<% end %>
