<% provide :title, "D11 Match Day #{@d11_match_day.match_day_number}"
   provide :breadcrumbs, breadcrumbs([ @d11_match_day.d11_league.season, @d11_match_day.d11_league, :select_name ],  {d11_league: @d11_match_day.d11_league}, "d11_league_id = #{@d11_match_day.d11_league_id}") %> 
  
<h1>
  <%= @d11_match_day.d11_league.name %> <span class="season-name"><%= @d11_match_day.d11_league.season.name %></span><%= render 'd11_leagues/context_menu', d11_league: @d11_match_day.d11_league %>
</h1>

<h2><%= @d11_match_day.name %> <%= render 'context_menu', d11_match_day: @d11_match_day %></h2>

<p class="navigation-links">
  <% if !@d11_match_day.previous.nil? then %>
  <%= link_to "Previous", @d11_match_day.previous %>
  <% end %>
  <% if !@d11_match_day.next.nil? then %>
  <%= link_to "Next", @d11_match_day.next %>
  <% end %>
</p>

<% if @d11_match_day.match_day.active? %>
<p class="active-match-day">This match day is active and the ratings and results are not yet final.</p>
<% end %>

<div class="section">  
  <%= render 'd11_match_days/d11_match_day_fixtures', d11_match_day: @d11_match_day %>
  
  <div class="related-section league-table-container">
    <h3>League table</h3>
    <p>Standings after match day <%= @d11_match_day.match_day_number %>.<p>    
    <%= render 'd11_team_table_stats/league_table_simple', d11_match_day: @d11_match_day, d11_team_table_stats: @d11_match_day.d11_team_table_stats %>
  </div>
</div>