<div class="match-details preview">
  <% season = d11_match.d11_match_day.d11_league.season %>
  <dl class="match-preview">
    <dt>Form:</dt>
    <dd>
      <%= render 'd11_teams/d11_team_form', d11_team: d11_team, d11_match_day: d11_match.d11_match_day %>
    </dd>
    <% top_scorer = d11_team.top_scorer(season) %>
    <dt>Top scorer:</dt>    
    <dd>
      <% if !top_scorer.nil? %>
        <%= render top_scorer.player %>, <%= top_scorer.goals %> goals
      <% else %>
        No goals scored.
      <% end %>      
    </dd>
    <% most_valuable_player = d11_team.most_valuable_player(season) %>
    <dt>Most valuable player:</dt>  
    <dd>
      <% if !most_valuable_player.nil? %>
        <%= render most_valuable_player.player %>, <%= most_valuable_player.points %> pts
      <% else %>
        No points scored.
      <% end %>
    </dd>
  </ul>
</div>
