<% provide :title, @transfer_window.name
   provide :breadcrumbs, breadcrumbs([ @transfer_window.season, @transfer_window.season.d11_league, :select_name ], { season: @transfer_window.season }, "transfer_windows.season_id = #{@transfer_window.season_id}" ) %> 

<h1><%= @transfer_window.name %> <%= @transfer_window.season.name %> <%= render 'context_menu' %></h1>

<p>Summary of all transfer activity during <%= @transfer_window.name.downcase %>. Acquired players will play for their new D11 teams starting
   from <%= @transfer_window.d11_match_day.name.downcase %>.</p>

<% @transfer_window.transfer_days.each do |transfer_day| %>
   <%= render 'transfer_days/transfer_day_summary', transfer_day: transfer_day %>
<% end %>

