<% provide :title, "About Drömelvan"
   provide :breadcrumbs, breadcrumbs([ "About Drömelvan" ]) %> 

<h1>About Drömelvan</h1>

<p>Your D11 experience is made possible by the following technologies.</p>

<div class="section">
  <div class="sub-section">
    <h2>Ruby</h2>
    <%= image_tag "about/ruby.png", alt: "Ruby.", style: "margin-right: 15px; float: left" %>
    <p>A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
    <p><%= link_to "http://www.ruby-lang.org/" %></p>
  </div>
  
  <div class="sub-section">
    <h2>Rails</h2>
    <%= image_tag "about/ruby-on-rails.png", alt: "Ruby on Rails.", style: "margin-right: 15px; float: left" %>
    <p>An open-source web framework that’s optimized for programmer happiness and sustainable productivity. It lets you write beautiful code by favoring convention over configuration.</p>
    <p><%= link_to "http://rubyonrails.org/" %></p>
  </div>

  <div class="sub-section">
    <h2>PostgreSQL</h2>
    <%= image_tag "about/postgresql.png", alt: "PostgreSQL.", style: "margin-right: 15px; float: left" %>
    <p>PostgreSQL is a powerful, open source object-relational database system. Its proven architecture has earned it a strong reputation for reliability, data integrity, and correctness.</p>
    <p><%= link_to "http://www.postgresql.org/" %></p>    
  </div>

  <div class="sub-section">
    <h2>GIMP</h2>
    <%= image_tag "about/gimp.png", alt: "GIMP.", style: "margin-right: 15px; float: left" %>
    <p>GIMP is an acronym for GNU Image Manipulation Program. It is a freely distributed program for such tasks as photo retouching, image composition and image authoring.</p>
    <p><%= link_to "http://www.gimp.org/" %></p>        
  </div>

  <div class="sub-section">
    <h2>Mac Mini</h2>
    <%= image_tag "about/mac-mini.png", alt: "Mac Mini.", style: "margin-right: 15px; float: left" %>
    <p>Mac mini is an affordable powerhouse that packs the entire Mac experience into a 7.7-inch-square frame. Just connect your own display, keyboard, and mouse, and you’re ready to make big things happen. It’s mini in a massive way.</p>
    <p><%= link_to "http://www.apple.com/mac-mini/" %></p>        
  </div>
  
  <div class="sub-section">
    <h2>OS X Yosemite</h2>
    <%= image_tag "about/os-x.png", alt: "OS X Yosemite.", style: "margin-right: 15px; float: left" %>
    <p>The operating system that powers every Mac. Built on a rock-solid UNIX foundation, it’s engineered to take full advantage of what the hardware is capable of.
       It’s designed to be as easy to use as it is beautiful to look at. It comes with an amazing collection of apps you’ll use — and love — every day.</p>
    <p><%= link_to "http://www.apple.com/osx/" %></p>        
  </div>
  
</div>