<table class="d11-team-match-squad-stats table-bordered">
  <thead>
    <tr>
      <th class="statistic-column">Statistic</th>
      <th class="value-column number-column">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="statistic-column">Goals</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.goals %></td>
    </tr>
    <tr>
      <td class="statistic-column">Own goals</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.own_goals %></td>
    </tr>
    <tr>
      <td class="statistic-column">Assists</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.goal_assists %></td>
    </tr>
    <tr>
      <td class="statistic-column">Goals conceded</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.goals_conceded %></td>
    </tr>
    <tr>
      <td class="statistic-column">Clean sheets</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.clean_sheets %></td>
    </tr>
    <tr>
      <td class="statistic-column">Yellow cards</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.yellow_cards %></td>
    </tr>
    <tr>
      <td class="statistic-column">Red cards</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.red_cards %></td>
    </tr>
    <tr>
      <td class="statistic-column">Average rating</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.rating_s %></td>
    </tr>
    <tr>
      <td class="statistic-column">Points</td>
      <td class="value-column number-column"><%= d11_team_match_squad_stat.points %></td>
    </tr>    
  </tbody>
</table>