<% provide :title, @player.name
   provide :breadcrumbs, breadcrumbs([ :class, :name, :select_season ])
   player_season_info = PlayerSeasonInfo.by_player_and_season(@player, @season)
   player_season_stat = PlayerSeasonStat.where(player: @player, season: @season).first %> 
  
<h1><%= @player.name %> <%= render 'context_menu' %></h1>

<div class="section">
  <div id="player-profile-container" class="top-section">  
    <div id="player-profile" class="standard-panel">
      
      <div class="panel-heading">
        <h2>Player profile</h2>
      </div>
              
      <div class="section panel-body">
        <div class="image-container player-photo">
          <%= render 'player_photo', player: @player %>
          <%= render 'teams/club_crest', team: player_season_info.team %>
          <% if !player_season_stat.nil? %>
            <p>
              <span class="points"><span class="value"><%= player_season_stat.points %></span> points</span>
              <span class="ranking"><span class="value"><%= player_season_stat.ranking.ordinalize %></span> ranking</span>
            </p>
          <% end %>
        </div>
    
        <div class="personal-information-container">
          <h3 style="white-space: nowrap">Personal Information</h2>
          <dl class="information">
            <dt>Nationality:</dt>
            <dd><%= render @player.country %></dd>
            <% if !@player.full_name.nil? %>
            <dt>Full name:</dt>
            <dd>
                <%= @player.full_name %>
            </dd>
            <% end %>
            <dt>Date of birth:</dt>
            <dd><% if !@player.date_of_birth.nil? %><%= @player.date_of_birth.to_s(:default_date) %><% else %>Unknown<% end %></dd>
            <dt>Age:</dt>
            <dd><% if !@player.date_of_birth.nil? %><%= @player.age %> years<% else %>Unknown<% end %></dd>
            <dt>Height:</dt>
            <dd><%= @player.height %> cm</dd>
            <dt>Weight:</dt>
            <dd><%= @player.weight%> kg</dd>                  
            <dt>WhoScored:</dt>
            <dd><%= render 'players/whoscored_link', player: @player %></dd>          
          </dl>
        </div>
        <div class="season-information-container">
          <h3>Season <%= @season.name %></h3>
          <% if !player_season_stat.nil? %>
          <dl class="data">
            <dt>Team:</dt>
            <dd><%= render player_season_info.team %></dd>
            <dt>D11 team:</dt>
            <dd><% if player_season_info.d11_team.dummy? %>None<% else %><%= render player_season_info.d11_team %><% end %></dd>                    
            <dt>Value:</dt>
            <dd>£<%= player_value player_season_info.value %> million</dd>          
            <dt>Position:</dt>
            <dd><%= player_season_info.position.name %></dd>
            <dt>Avg. rating:</dt>
            <dd><%= player_season_stat.rating_s %></dd>
            <dt>Appearances:</dt>
            <dd><%= player_season_stat.games_started %> started, <%= player_season_stat.games_substitute %> sub</dd>

            <dt>Goals/assists:</dt>
            <dd><%= image_tag "match-events/goal.png", alt: "Goals", title: "Goals", class: "match-event-icon" %> <%= player_season_stat.goals %> <%= image_tag "match-events/assist.png", alt: "Assists", title: "Assists", class: "match-event-icon" %>  <%= player_season_stat.goal_assists %></dd>            
            <dt>Cards:</dt>
            <dd><%= image_tag "match-events/yellow-card.png", alt: "Yellow Cards", title: "Yellow Cards", class: "match-event-icon" %> <%= player_season_stat.yellow_cards %> <%= image_tag "match-events/red-card.png", alt: "Red Cards", title: "Red Cards", class: "match-event-icon" %>  <%= player_season_stat.red_cards %></dd>
            <dt>MoM:</dt>
            <dd><%= image_tag "match-events/mom.png", alt: "Man of the Match", title: "Man of the Match", class: "match-event-icon" %> <%= player_season_stat.man_of_the_match %> <%= image_tag "match-events/shared-mom.png", alt: "Shared Man of the Match", title: "Shared Man of the Match", class: "match-event-icon" %>  <%= player_season_stat.shared_man_of_the_match %></dd>                        
            <dt>Form:</dt>
            <dd><%= render 'players/player_form', player: @player, season: @season %></dd>            
          </dl>
          <% else %>
          <p>Did not participate.</p>
          <% end %>
        </div>
        
        <div class="image-container club-crest">
          <%= render 'teams/club_crest', team: player_season_info.team %>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div id="player-stats" class="main-section">
    <% if !player_season_stat.nil? %>
    <div id="player-match-stats">
      <h3>Match Statistics <%= @season.name %></h3>
      <%= render 'player_match_stats/table', player_match_stats: player_season_stat.player_match_stats, title: "Player" %>
    </div>
    <% end %>
    <div id="player-season-stats">
      <h3>Season Statistics</h3>
      <%= render 'player_season_stats/table', player_season_stats: @player.player_season_stats.order(season_id: :desc) %>
    </div>      
  </div>
  
  <div id="player-history">
    <div id="player-career-stats" class="related-section">
      <h3>Career Statistics</h3>
      <%= render 'player_career_stats/simple_table', player_career_stat: PlayerCareerStat.by_player(@player) %>
    </div>    
    
    <div id="player-transfer-history" class="related-section">
      <h3>Transfer History</h3>
      <%= render 'transfers/player_transfers_table', transfers: Transfer.where(player: @player), total: Transfer.where(player: @player).sum(:fee) %>
    </div>
  </div>
  
</div>