<% provide :title, @player.name
   provide :breadcrumbs, breadcrumbs([ :index , :name, :select_season ])
   player_season_info = @player.season_info(@season) %> 
  
<h1><%= @player.name %></h1>
<%= render 'layouts/administration_links', resource: @player %>
  
<div class="section">
  <div class="player-profile-container">  
    <div class="player-profile standard-panel">
      
      <div class="panel-heading">
        <h2>Player profile <%= @season.name %></h2>
      </div>
              
      <div class="section panel-body">
        <div class="image-container player-photo">
          <%= render 'player_photo', player: @player %>
          <%= render 'teams/club_crest', team: player_season_info.team %>
          <p>
            <span class="points"><span class="value">123</span> points</span>
            <span class="ranking"><span class="value">32</span>nd ranking</span>
          </p>
        </div>
    
        <dl class="information">
          <dt>Full name:</dt>
          <dd>
            <% if !@player.full_name.nil? %>
              <%= @player.full_name %>
            <% else %>
              <%= @player.name %>
            <% end %>
          </dd>
          <dt>Nationality:</dt>
          <dd><%= render @player.country %></dd>
          <dt>Team:</dt>
          <dd><%= render player_season_info.team %></dd>
          <dt>D11 team:</dt>
          <dd><%= render player_season_info.d11_team %></dd>        
        </dl>

        <dl class="data">
          <dt>Date of birth:</dt>
          <dd><%= @player.date_of_birth %> (age <%= @player.age %>)</dd>
          <dt>Height:</dt>
          <dd><%= @player.height %> cm</dd>
          <dt>Weight:</dt>
          <dd><%= @player.weight%> kg</dd>                  
          <dt>WhoScored Id:</dt>
          <dd><%= render 'players/whoscored_link', player: @player %></dd>
          <dt>Value:</dt>
          <dd><%= player_value player_season_info.value %></dd>          
          <dt>Position:</dt>
          <dd><%= player_season_info.position.name %></dd>
          <dt>Played pos:</dt>
          <dd>DMC, AMR, AMC</dd>                
        </dl>
    
        <div class="image-container club-crest">
          <%= render 'teams/club_crest', team: player_season_info.team %>
        </div>
        
      </div>
    </div>
  </div>
</div>
