<% match ||= @match %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: match} do  %>
    <li class="dropdown-header"><%= match.home_team.code %> vs <%= match.away_team.code %></li>
    <li><%= link_to match.match_day.name, match.match_day %></li>
    <% if administrator_signed_in? %>
    <li class="dropdown-header">Statistics</li>
    <% if match.player_match_stats.any? %>
    <li><%= link_to "Update Match Stats", edit_match_stats_match_path(match), data: { toggle: "modal", target: "#d11-modal" } %></li>
    <% end %>
    <li class="dropdown-header">Date & Time</li>
    <li>
        <%= form_for(match) do |f| %>
            <% default_datetime = (match.postponed? ? match.match_day.date.to_datetime : match.datetime) %>
            <%= render 'layouts/inline_datetimepicker', f: f, resource: match, field: :datetime, default_datetime: default_datetime, button_text: "Change" %>                
        <% end %>
    </li>            
    <li class="dropdown-header">Status</li>
    <li><%= link_to "Pend", pend_match_path(match) %></li>
    <li><%= link_to "Activate", activate_match_path(match) %></li>
    <li><%= link_to "Finish", finish_match_path(match) %></li>
    <% end %>
<% end %>

