<div class="match-details preview">
  <% season = match.match_day.premier_league.season %>
  <ul class="match-preview">
    <li class="match-preview-label">Form:</li>
    <li>
      <%= render 'teams/team_form', team: team, season: season %>
    </li>
    <% top_scorer = team.top_scorer(season) %>
    <li class="match-preview-label">Top scorer:</li>    
    <li>
      <% if !top_scorer.nil? %>
        <%= render top_scorer.player %>, <%= top_scorer.goals %> goals
      <% else %>
        No goals scored.
      <% end %>      
    </li>
    <% most_valuable_player = team.most_valuable_player(season) %>
    <li class="match-preview-label">Most valuable player:</li>  
    <li>
      <% if !most_valuable_player.nil? %>
        <%= render most_valuable_player.player %>, <%= most_valuable_player.points %> pts
      <% else %>
        No points scored.
      <% end %>
    </li>
  </ul>
</div>
