<% upload_result = session[:upload_result] %>
<% if upload_result[:validation_errors].any? %>
<div class="section">
  <div class="alert alert-danger top-section">
    <p>
      The match statistics could not be updated.
      The file contains <%= pluralize(upload_result[:validation_errors].count, "validation error") %>.
    </p>
    <ul class="validation-errors">
    <% upload_result[:validation_errors].each do |validation_error| %>
    <li><%= validation_error %></li>          
    <% end %>
    </ul>        
  </div>
</div>
<% end %>
<% if !upload_result[:data_errors].nil? && upload_result[:data_errors].any? %>
<div class="section">
  <div class="alert alert-danger top-section">
    <p>
      The match statistics could not be updated.
      The file contains <%= pluralize(upload_result[:data_errors].count, "data error") %>.
    </p>
    <ul class="data-errors">
    <% upload_result[:data_errors].each do |data_error| %>
    <li><%= data_error %></li>          
    <% end %>
    </ul>            
  </div>
</div>
<% end %>
<% if !upload_result[:missing_players].nil? && upload_result[:missing_players].any? %>
<div class="section">
  <div class="alert alert-danger top-section">
    <p>
      The match statistics could not be updated.
      The file contains <%= pluralize(upload_result[:missing_players].count, "missing player") %>.
    </p>
  </div>
  <% upload_result[:missing_players].each do |missing_player| %>
  <div class="missing-player">
    <h3><%= missing_player[:player_name] %> (<%= missing_player[:team_name] %>)</h3>
    <ul class="context-links">
      <li>WhoScored link: <%= render 'players/whoscored_link', whoscored_id: missing_player[:player_whoscored_id] %></li>
      <li>Insert <%= link_to "new player", new_player_path(player: {first_name: missing_player[:player_name].sub(/ .*/,''), last_name: missing_player[:player_name].sub(/.* /,''), whoscored_id: missing_player[:player_whoscored_id] }, player_season_info: { team_id: missing_player[:team_id], position_id: missing_player[:position_id] }), data: { toggle: "modal", target: "#d11-modal" } %>.</li>
    </ul>
    <h4>Alternatives:</h4>
    <ul class="context-links">
    <% missing_player[:alternative_players].each do |alternative_player| %>
    <% alternative_player_season_info = alternative_player.season_info(Season.current) %> 
    <li><%= render alternative_player, max_length: 22 %><% if !alternative_player_season_info.nil? %> (<%= alternative_player_season_info.team.code %>)<% end %><% if !alternative_player.whoscored_id.nil? %> (<%=render 'players/whoscored_link', whoscored_id: alternative_player.whoscored_id %>)<% end %> <%= render 'players/context_menu', player: alternative_player, whoscored_id: missing_player[:player_whoscored_id] %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>  
<% end %>
