<% 
   transfer_listing = transfer.transfer_day.transfer_listings.where(player: transfer.player).first
   if transfer_listing.nil?
     transfer_listing = TransferListing.new
   end
%>
<tr>
  <td class="player-column main-column"><%= render transfer.player %></td>
  <td class="ranking-column number-column"><%= transfer_listing.ranking %></td>
  <td class="team-simple-column"><%= render transfer_listing.team, label: :code %></td>
  <td class="position-column"><%= render transfer_listing.position, label: :code %></td>  
  <td class="appearances-column" title="Appearances"><%= transfer_listing.games_started %>/<%= transfer_listing.games_substitute %></td>
  <td class="points-per-appearance-column" title="Points per Appearance"><%= transfer_listing.points_per_appearance_s %></td>
  <td class="rating-column" title="Rating"><%= transfer_listing.rating_s %></td>
  <td class="form-column"><%= render 'players/player_form', player: transfer.player, season: transfer.transfer_day.transfer_window.season %></td>  
  <td class="points-column number-column"><%= transfer_listing.points %></td>
  <td class="d11-team-column"><%= render transfer.d11_team %></td>
  <td class="d11-team-simple-column"><%= render transfer.d11_team, label: :code %></td>
  <td class="fee-column number-column"><%= player_value transfer.fee %></td>
</tr>
