<div class="d11-team-season-squad-stat simple">
  <h3><%= render 'd11_teams/club_crest', d11_team: d11_team_season_squad_stat.d11_team, style: :icon %> <%= render d11_team_season_squad_stat.d11_team %></h3>
  <table class="player-season-infos simple table-bordered">
    <thead>
      <tr>
        <th class="position-column">P</th>
        <th class="player-column main-column">Player</th>
        <th class="fee-column number-column">Fee</th>
      </tr>
    </thead>
    <tbody>
      <% total = 0
         player_season_infos = PlayerSeasonInfo
           .where(season: d11_team_season_squad_stat.season, d11_team: d11_team_season_squad_stat.d11_team)
           .order(:position_id)
         player_season_infos.each do |player_season_info|
           total += player_season_info.value
         %>
      <tr>
        <td class="position-column"><%= render player_season_info.position, label: :code %></th>
        <td class="player-column main-column" style="white-space: nowrap;"><%= render 'teams/club_crest', team: player_season_info.team, style: :icon %>
                                                                           <%= render player_season_info.player, max_length: 20 %></th>
        <td class="fee-column number-column"><%= player_value player_season_info.value %></th>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan=2" class="summary">Total value:</td>
        <td class="fee-column number-column"><%= player_value total %></td>
      </tr>
    </tfoot>
  </table>
</div>