<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  
  <% breadcrumbs.each do |breadcrumb| %>
  
    <% if breadcrumb == :index then %>      
      <% if action_name == 'index' then %>
      <li><%= controller_name.titleize %></li>
      <% else %>
      <li><%= link_to controller_name.titleize, url_for(action: 'index') %></li>
      <% end %>

    <% elsif breadcrumb == :id then %>
      <li class="active"><%= instance_variable_get("@#{controller_name.singularize}").id %></li>
      
    <% elsif breadcrumb == :name then %>
      <li class="active"><%= instance_variable_get("@#{controller_name.singularize}").name %></li>

    <% elsif breadcrumb == :title then %>
      <li class="active"><%= yield :title %></li>
            
    <% elsif breadcrumb == :select_season then %>
      <li>
        <%= form_tag url_for(action: breadcrumb), class: "onchange-submit-form" do %>
          <%= collection_select :season, :id, Season.all, :id, :name, {}, { onchange: 'this.form.submit()' } %>
        <% end %>      
      </li>
      
    <% elsif breadcrumb == :select_name then %>
      <li>
        <%= render '/layouts/select_name', select_where: select_where %>
      </li>

    <% elsif breadcrumb == :select_unique_name then %>
      <li>
        <%= form_tag url_for(action: :select), class: "onchange-submit-form" do %>        
          <%= collection_select controller_name.singularize, :id,
              controller_name.classify.constantize.unique_name_ordered.where(select_where), :id, :unique_name, {}, { onchange: 'this.form.submit()' } %>
        <% end %>              
      </li>

    <% elsif breadcrumb == :select_table then %>
      <li>
        <%= form_tag public_send("select_table_#{controller_name.tableize}_path"), class: "onchange-submit-form" do %>        
          <%= collection_select controller_name.singularize, :id,
              controller_name.classify.constantize.unique_name_ordered.where({}), :id, :unique_name, {}, { onchange: 'this.form.submit()' } %>
        <% end %>              
      </li>
      
    <% elsif breadcrumb == :class then %>
      <li class="active"><%= controller_name.classify.titleize %></li>
      
    <% elsif breadcrumb.is_a?(ActiveRecord::Base) then %>
      <li><%= render breadcrumb %></li>
      
    <% else %>
      <li class="active"><%= breadcrumb %></li>
    <% end %>
    
  <% end %>
</ol>
