<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>

  <% breadcrumbs.each do |breadcrumb| %>
    <% if breadcrumb.is_a?(Class) then %>
      <li><%= link_to controller_name.capitalize, url_for(action: 'index') %></li>  
    <% elsif breadcrumb.is_a?(ActiveRecord::Base) then %>
      <li><%= render breadcrumb %></li>      
    <% elsif breadcrumb == :select_season then %>
      <li>
        <%= form_tag url_for(action: breadcrumb), class: "onchange-submit-form" do %>
          <%= collection_select :season, :id, Season.all, :id, :name, {}, { onchange: 'this.form.submit()' } %>
        <% end %>      
      </li>
    <% elsif breadcrumb == :select then %>
      <li>
        <%= form_tag url_for(action: breadcrumb), class: "onchange-submit-form" do %>        
          <%= collection_select controller_name.singularize, :id,
              controller_name.singularize.capitalize.constantize.where(select_where), :id, :name, {}, { onchange: 'this.form.submit()' } %>
        <% end %>              
      </li>            
    <% else %>
      <li><%= breadcrumb %></li>
    <% end %>
  <% end %>
</ol>
