<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <% # Refactor some of the selects %>
  <% breadcrumbs.each do |breadcrumb| %>
    <% if breadcrumb.is_a?(ActiveRecord::Base) then %>
      <li><%= render breadcrumb %></li>
    <% else %>
      <li><%= breadcrumb %></li>
    <% end %>
  <% end %>
  
  <% if !(defined?(select_path)).nil? then %>
    <li>
      <%= form_tag select_path, class: "onchange-submit-form" do %>
        <%= collection_select select_resource, :id, select_options, :id, :name, {}, { onchange: 'this.form.submit()' } %>
      <% end %>
    </li>
  <% end %>

  <% if !(defined?(select_season_path)).nil? then %>
    <li>
      <%= form_tag select_season_path, class: "onchange-submit-form" do %>
        <%= collection_select :season, :id, Season.all, :id, :name, {}, { onchange: 'this.form.submit()' } %>
      <% end %>
    </li>
  <% end %>
  
  <% if !(defined?(select_for)).nil? then %>
    <li>
      <%= form_tag "select_#{select_for.name.downcase.pluralize}".to_sym, class: "onchange-submit-form" do %>
        <%= collection_select select_for.name.downcase.to_sym, :id, select_for.all, :id, :name, {}, { onchange: 'this.form.submit()' } %>
      <% end %>
    </li>
  <% end %>
</ol>
