<% url ||= controller_name.gsub('_','-')
   objects ||= controller_name.gsub('_',' ')
   table_class ||= "" %>
<table class="data data-table data-table-ajax <%= objects %> <%= table_class %>"
       id="data-table"
       <% if defined?(icon_columns) then %>
       data-icon-columns="<%= icon_columns %>"
       <% end %>
       <% if defined?(sort_column) then %>
       data-sort-column="<%= sort_column %>"       
       <% end %>
       <% if defined?(sort_order) then %>
       data-sort-order="<%= sort_order %>"       
       <% end %>     
       <% if defined?(number_columns) then %>
       data-number-columns="<%= number_columns %>" 
       <% end %>
       <% if defined?(column_classes) then %>
       data-column-classes="<%= column_classes %>" 
       <% end %>     
       <% if defined?(ajax_params) then %>
       data-ajax-params="<%= ajax_params.to_json.html_safe.gsub("\"","'") %>"
       <% end %>
       <% if defined?(hide_controls) && hide_controls then %>
       data-hide-controls="<%= hide_controls %>"
       <% end %>
       <% if defined?(responsive) && responsive then %>
       data-responsive="<%= responsive %>"
       <% end %>     
       data-url="<%= url %>"
       data-objects="<%= objects %>">
  <%= yield %>
  <tbody>
  </tbody>
</table>
