<% url ||= controller_name
   objects ||= controller_name.gsub('_',' ') %>
<table class="data data-table data-table-ajax <%= objects %>"
       id="data-table"
       <% if defined?(icon_columns) then %>
       data-icon-columns="<%= icon_columns %>" 
       <% end %>
       <% if defined?(number_columns) then %>
       data-number-columns="<%= number_columns %>" 
       <% end %>
       <% if defined?(ajax_params) then %>
       data-ajax-params="<%= ajax_params.to_json.html_safe.gsub("\"","'") %>"
       <% end %>
       <% if defined?(hide_controls) && hide_controls then %>
       data-hide-controls="<%= hide_controls %>"
       <% end %>     
       data-url="<%= url %>"
       data-objects="<%= objects %>">
  <%= yield %>
  <tbody>
  </tbody>
</table>
