<nav class="application-navbar" role="navigation">
  <div class="navbar-container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-collapse" style="">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-navigation" href="#">Menu</a>
    </div>
        
    <div class="navbar" id="navbar-main-collapse">      
      <ul class="navbar-menubar">        
        <li class="dropdown">
          <%= render 'layouts/dropdown_toggle', text: "Home" %>
          <ul class="dropdown-menu" id="main-menu" role="menu">
            <li><%= link_to "Home", main_app.root_path %></li>
            <li><%= link_to "Rules", main_app.rules_path %></li>
            <li><%= link_to "About Drömelvan", main_app.about_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <%= render 'layouts/dropdown_toggle', text: "D11" %>
          <ul class="dropdown-menu" id="d11-menu">
            <% if !D11League.current.nil? %>
            <li><%= link_to "Current Match Day", main_app.d11_match_day_path(D11MatchDay.current) %></li>            
            <li><%= link_to "League Table", main_app.d11_league_path(D11League.current) %></li>            
            <li><%= link_to "Current Transfer Day", main_app.transfer_day_path(TransferDay.current) %></li>
            <li><%= link_to "D11 Teams", main_app.show_d11_teams_d11_league_path(D11League.current) %></li>
            <li><%= link_to "Season History", main_app.seasons_path %></li>
            <% end %>                      
          </ul>
        </li>

        <li class="dropdown">
          <%= render 'layouts/dropdown_toggle', text: "Premier League" %>
          <ul class="dropdown-menu" id="premier-league-menu">
            <% if !PremierLeague.current.nil? %>
            <li><%= link_to "Current Match Day", main_app.match_day_path(MatchDay.current) %></li>
            <li><%= link_to "League Table", main_app.premier_league_path(PremierLeague.current) %></li>
            <li><%= link_to "Player Statistics", main_app.show_stats_premier_league_path(PremierLeague.current) %></li>
            <% end %>
          </ul>          
        </li>                
      </ul>
      
      <ul class="navbar-menubar user-menubar">
        <% if user_signed_in? %>
        <li class="dropdown">
          <%= render 'layouts/dropdown_toggle', text: "#{current_user.name}" %>
          <ul class="dropdown-menu" id="user-menu">
            <% if !current_user.active_d11_team.nil? && !params[:controller].include?('rails_admin') %>
            <li><%= link_to "My Team", current_user.active_d11_team %></li>
            <% end %>
            <% if administrator_signed_in? %>
            <li><%= link_to "Administration", rails_admin.dashboard_path %></li>            
            <% end %>
            <% if current_user.provider.nil? %>
            <li><%= link_to "Edit Profile", main_app.edit_user_registration_path %></li>
            <% end %>
            <li><%= link_to "Sign Out", main_app.destroy_user_session_path, method: :delete %></li>
          </ul>          
        </li>          
        <% else %>
        <li class="dropdown-menu-right"><%= link_to "Sign In", main_app.new_user_session_path, class: "navbar-link" %></li>
        <li><%=  link_to "Sign Up", main_app.new_user_registration_path, class: "navbar-link" %></li>
        <% end %>
      </ul>      
    </div>    
  </div>    
</nav>
